*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
*.DS_STORE
build/
.cache
.vagrant
.sass-cache

# YARD artifacts
.yardoc
_yardoc
doc/
.idea/

# Vagrant artifacts
ubuntu-*-console.log
github_token.env
relayer-test rpc staging.postman_environment.json
Twilight RelayerAPI HMAC.postman_collection.json
